<div>
  <core-stats [fighter]="core.player" name="Player"></core-stats>

  <core-stats [fighter]="core.challenger" name="Challenger" *ngIf="core.challenger"></core-stats>
</div>

<div class="actions">

  <button
    *ngIf="attacking"
    color="primary"
    mat-raised-button
    (click)="run()"
  >Run away</button>

  <button
    *ngIf="defending"
    color="primary"
    mat-raised-button
    (click)="block()"
  >Block</button>

  <button
    *ngIf="defending"
    color="primary"
    mat-raised-button
    (click)="dodge()"
  >Dodge</button>

  <button
    *ngIf="attacking"
    color="primary"
    mat-raised-button
    (click)="attack()"
  >Attack!!</button>

  <button
    *ngIf="waiting"
    color="primary"
    mat-raised-button
    (click)="challenge()"
  >Next</button>

  <button
    *ngIf="resting"
    color="primary"
    mat-raised-button
    (click)="challenge()"
  >Challenge</button>

</div>

<div class="help">
  <a routerLink="../help">Help!</a>
</div>
