<div class="battle-area">

  <core-stats [fighter]="core.player" [showExperience]="true" name="Player"></core-stats>

  <play-result [attack]="core.attackData" *ngIf="core.attackData"></play-result>

  <core-stats [fighter]="core.challenger" name="Challenger" *ngIf="core.challenger"></core-stats>

</div>

<ng-container *ngIf="challengeEnded">

  <div class="win" *ngIf="win">You Win!</div>

  <div class="lose" *ngIf="!win">You Lose!</div>

</ng-container>

<div class="actions">

  <button
    *ngIf="attacking"
    color="primary"
    mat-raised-button
    (click)="run()"
  >Run away</button>

  <button
    *ngIf="defending"
    color="primary"
    mat-raised-button
    (click)="block()"
  >Block</button>

  <button
    *ngIf="defending"
    color="primary"
    mat-raised-button
    (click)="dodge()"
  >Dodge</button>

  <button
    *ngIf="attacking"
    color="primary"
    mat-raised-button
    (click)="attack()"
  >Attack!!</button>

  <button
    *ngIf="waiting"
    color="primary"
    mat-raised-button
    (click)="nextTurn()"
  >Next Turn</button>

  <button
    *ngIf="resting"
    color="primary"
    mat-raised-button
    (click)="challenge()"
  >Next Challenge</button>

</div>

<div class="help">
  <a routerLink="../help">Help!</a>
</div>
